/**/
#post-list {
    .card {
      .card-body {
        font-size: 1.5rem;
  
        h1 a {
          font-size: 1.25em;
  
          font-weight: 700;
        }
        h2 a {
          font-size: 1.5em;
          font-weight: 700;
        }
  
  
  
        .article-content {
          p {
            font-size: 1.2rem;
            line-height: 1.5;
            font-weight: 400;
          }
          h2 a {
            font-size: 1.5em;
            font-weight: 700;
          }
        }
      }
      .discussion-title {
        button {
          color: #363d44;
          border: 1px solid #d2d6db;
          background-color: white;
          font-size: 1rem;
          padding: 6px 14px;
          border-radius: 5px;
        }
      }
      .discussion-body {
        .discussion-comment {
          a:link,
          a:visited,
          a:active {
            text-decoration: none;
            color: #64707d;
          }
          border: 1px solid #ccc;
          border-radius: 0.25rem;
          padding: 1rem;
          margin-left: 0.5rem;
        }
        .ico-profile {
          width: 32px;
          height: 32px;
        }
      }
      .code-conduct {
        font-size: 0.85rem;
        a:link,
        a:visited,
        a:active {
          text-decoration: none;
          color: #64707d;
          margin: 0 0.5rem;
        }
      }
      .next-article {
        .ico-profile {
          width: 64px;
          height: 64px;
          margin-right: 1rem;
        }
      }
    }
  }
  /*SIDE RIGHT*/
  .profile {
    background-color: #922180 !important;
  }
  .ico-profile2 {
    width: 50px;
    height: 50px;
    margin-top: -65px;
    &:hover {
      cursor: pointer;
    }
  }
  .card-title {
    span {
      text-align: center;
    }
  }
  .card-title-sec {
    font-weight: bold;
    font-size: 12px;
    color: #4d5760;
  }
  .font-blue {
    color: #323ebe;
    &:hover {
      cursor: pointer;
    }
  }
  .text-profile {
    position: absolute;
    margin: -18px 8px;
    font-size: 20px;
    &:hover {
      cursor: pointer;
      color: #323ebe;
    }
  }
  .right-side-sticky {
    align-self: flex-start;
    top: 50px !important;
  }
  
  .sticky-top {
    z-index: 0;
  }
  
  
  /*END SIDE RIGHT*/
  #left-side {
    .menu-inner-post {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0 15px;
      li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        cursor: pointer;
        & > div {
          border-radius: 50%;
          padding: 6px;
          height: 40px;
          width: 40px;
          text-align: center;
  
          display: flex;
          justify-content: center;
          align-items: center;
        }
  
        &:hover {
          &:nth-child(1) {
            div {
              background-color: #eddadb;
            }
            img {
              filter: invert(27%) sepia(55%) saturate(2394%) hue-rotate(338deg)
                brightness(89%) contrast(120%);
            }
          }
          &:nth-child(2) {
            div {
              background-color: #daeeee;
            }
            img {
              filter: invert(45%) sepia(75%) saturate(363%) hue-rotate(128deg)
                brightness(96%) contrast(91%);
            }
          }
          &:nth-child(3) {
            div {
              background-color: #dcdff0;
            }
            img {
              filter: invert(21%) sepia(78%) saturate(2571%) hue-rotate(227deg)
                brightness(101%) contrast(87%);
            }
          }
          &:nth-child(4) {
            div {
              background-color: #e6e8e9;
            }
          }
        }
      }
    }
  }
  
  @media only screen and (min-width: 768px) {
    #post-list {
      .card {
        .feature {
          a {
            font-size: 36px !important;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1024px) {
    #post-list {
      .card {
        .feature {
          a {
            font-size: 40px;
          }
        }
      }
    }
  }