.bg-grey {
  background-color: #d2d6db;
}

.bg-grey-light {
  background-color: #d2d6db;
}

.bg-grey-middle {
  background-color: #76808c;
}

.bg-grey-dark {
  background-color: #4d5760;
}

.bg-black {
  background-color: #08090a;
}

.bg-hover-blue {
  background-color: #323ebe;
}

.bg-blue-boton {
  background-color: #3b49df;
}

.bg-white1 {
  background-color: #f9fafa !important;
}

.bg-fondo {
  background-color: #eef0f1;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ccc;
  padding: 8px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  header {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    border-bottom: 1px solid #ccc;
  }
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0;
  /*NAV BAR LEFT SIDE*/
  /*NAV BAR - RIGHT SIDE*/
}

header .navbar .menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .navbar .menu-left #navbarNav {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

header .navbar .menu-left #navbarNav .navbar-nav {
  background-color: white;
  height: 100%;
  width: 50vw;
  max-width: 300px;
  margin: 0;
  padding: 1rem;
}

header .navbar .menu-left #navbarNav .navbar-nav .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 16px;
}

header .navbar .menu-left #navbarNav .navbar-nav .title h2 {
  margin: 0;
  font-size: 14pt;
}

header .navbar .menu-left #navbarNav .navbar-nav .title .close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  border-radius: 50%;
}

header .navbar .menu-left #navbarNav .navbar-nav .title .close-button:hover {
  background-color: #d2d6db;
}

header .navbar .menu-left #navbarNav .navbar-nav ul {
  padding: 1rem 0;
  list-style: none;
}

header .navbar .menu-left #navbarNav .navbar-nav ul li {
  padding: 3px 0px;
}

header .navbar .menu-left #navbarNav .navbar-nav ul li:last-of-type {
  padding: 8px 40px;
}

header .navbar .menu-left #navbarNav .navbar-nav ul li:hover {
  cursor: pointer;
  background-color: #d2d6db;
  border-radius: 4px;
}

header .navbar .menu-left #navbarNav .navbar-nav ul li:hover a {
  color: #3b49df;
}

header .navbar .menu-left #navbarNav .navbar-nav ul li a {
  color: #4d5760;
}

header .navbar .menu-left .logo {
  width: 50px;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
}

header .navbar .menu-left .search {
  margin-left: 10px;
  display: none;
}

@media screen and (min-width: 768px) {
  header .navbar .menu-left .search {
    display: inherit;
  }
}

header .navbar .menu-left .search input {
  font-size: 12pt;
  padding: 0 6px;
  width: 100%;
  max-width: 400px;
  background-color: #f9fafa;
  color: #41484f;
}

header .navbar .menu-left .navbar-toggler {
  border: none;
}

header .navbar .menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .menu-right .button-post {
  background-color: #3b49df;
  color: white;
  padding: 8px 20px;
  font-size: 16px;
  text-align: center;
  display: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: all;
          transform: all;
}

@media screen and (min-width: 768px) {
  header .navbar .menu-right .button-post {
    display: inherit;
  }
}

header .navbar .menu-right .button-post:hover {
  background-color: #323ebe;
}

header .navbar .menu-right img {
  padding: 8px;
  border-radius: 50%;
  /*margin: 0 6px;*/
  cursor: pointer;
}

header .navbar .menu-right img.ico-search {
  display: inherit;
}

@media screen and (min-width: 768px) {
  header .navbar .menu-right img.ico-search {
    display: none;
  }
}

header .navbar .menu-right img:hover {
  background-color: #d2d6db;
}

header .navbar .menu-right .dropdown-left img {
  width: 40px;
  height: 40px;
  padding: 0;
}

header .navbar .menu-right #menu-wrapper {
  min-width: 15rem;
  padding: 0;
}

header .navbar .menu-right #menu-wrapper #users-item-wrapper {
  border-bottom: 1px solid #b5bdc4;
}

header .navbar .menu-right #menu-wrapper a {
  border: 4px solid #fff;
  border-radius: 10px;
}

header .navbar .menu-right #menu-wrapper a:hover {
  color: #3b49df;
}

header .navbar .menu-right #menu-wrapper hr {
  margin: 1px;
}

.container-fluid {
  background-color: #eef0f1;
}

.cont-wrapp {
  max-width: 1240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#left-side {
  background-color: #eef0f1;
}

#left-side #navbarNav2 {
  position: inherit;
  height: auto;
  background: transparent;
}

#left-side #navbarNav2 .navbar-nav {
  background-color: transparent;
  margin: 0;
  padding: 1rem;
}

#left-side #navbarNav2 .navbar-nav ul {
  padding: 1rem 0;
  list-style: none;
}

#left-side #navbarNav2 .navbar-nav ul li {
  padding: 3px 0px;
}

#left-side #navbarNav2 .navbar-nav ul li:last-of-type {
  padding: 8px 40px;
}

#left-side #navbarNav2 .navbar-nav ul li:hover {
  cursor: pointer;
  background-color: #d2d6db;
  border-radius: 4px;
}

#left-side #navbarNav2 .navbar-nav ul li:hover a {
  color: #3b49df;
}

#left-side #navbarNav2 .navbar-nav ul li a {
  color: #4d5760;
}

#left-side .side-banner h2 {
  text-align: center;
  color: #3b49df;
  font-weight: bold;
  font-size: 18pt;
  padding: 12pt 0;
}

#left-side .side-banner img {
  border-radius: 5px;
}

.side-banner h2 {
  text-align: center;
  color: #3b49df;
  font-weight: bold;
  font-size: 18pt;
  padding: 12pt 0;
}

.side-banner img {
  border-radius: 5px;
}

#post-list {
  /*card*/
}

#post-list h1 {
  font-size: 1.14rem;
  font-weight: bold;
}

#post-list a:link,
#post-list a:visited,
#post-list a:active,
#post-list a:focus {
  text-decoration: none;
  color: #08090a;
}

#post-list select {
  line-height: 1.5;
  font-size: 1rem;
  border-color: #76808c;
  color: #76808c;
}

#post-list select option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

#post-list .filter-desktop li:hover {
  background: rgba(59, 73, 223, 0.1);
  cursor: pointer;
}

#post-list .filter-desktop li:hover .nav-link {
  color: #3b49df;
}

#post-list .filter-desktop li:hover .nav-link:hover {
  color: #3b49df;
}

#post-list .filter-desktop li .active {
  border-bottom: 3px solid #3b49df;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: all;
          transform: all;
}

#post-list .filter-desktop li .active:hover {
  padding: 0.5rem 0.5rem;
  margin: 0;
}

#post-list .card {
  /*card body*/
}

#post-list .card h2 {
  font-size: 1.25rem;
}

#post-list .card h2 a:hover {
  color: #3b49df;
}

#post-list .card .feature {
  font-size: 1.5rem;
}

#post-list .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#post-list .card .card-body .autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.75rem;
  /*padding: 10px;}*/
}

#post-list .card .card-body .autor .ico-profile {
  width: 32px;
  height: 32px;
}

#post-list .card .card-body .autor .autor-name {
  padding-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#post-list .card .card-body .autor .autor-name div:first-of-type {
  font-weight: bold;
  font-size: 0.875rem;
  color: #4d5760;
}

#post-list .card .card-body .autor .autor-name div:last-of-type {
  font-size: 0.75rem;
  color: #76808c;
}

#post-list .card .card-body .autor .autor-name div:hover {
  color: #08090a;
}

#post-list .card .card-body .tags {
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
  display: inline-block;
}

#post-list .card .card-body .tags a:link,
#post-list .card .card-body .tags a:visited,
#post-list .card .card-body .tags a:active {
  text-decoration: none;
  color: #76808c;
  line-height: 1.3;
  border-radius: 5px;
  padding: 0.5rem 0.3rem 0.5rem 0;
}

#post-list .card .card-body .tags a:link span,
#post-list .card .card-body .tags a:visited span,
#post-list .card .card-body .tags a:active span {
  color: #d2d6db;
}

#post-list .card .card-body .tags a:hover {
  color: #08090a;
}

#post-list .card .card-body .tags.tags-color a {
  padding: 5px 10px !important;
  margin-right: 6px;
}

#post-list .card .card-body .tags.tags-color a:nth-child(4n+1) {
  background-color: #000;
  color: #61DAF6;
}

#post-list .card .card-body .tags.tags-color a:nth-child(4n+1) span {
  color: #61DAF6;
}

#post-list .card .card-body .tags.tags-color a:nth-child(4n+2) {
  background-color: #008335;
  color: #fff;
}

#post-list .card .card-body .tags.tags-color a:nth-child(4n+2) span {
  color: #fff;
}

#post-list .card .card-body .tags.tags-color a:nth-child(4n+3) {
  background-color: #F7DF1E;
  color: #000;
}

#post-list .card .card-body .tags.tags-color a:nth-child(4n+3) span {
  color: #000;
}

#post-list .card .card-body .tags.tags-color a:nth-child(4n+4) {
  background-color: #57d700;
  color: #fff;
}

#post-list .card .card-body .tags.tags-color a:nth-child(4n+4) span {
  color: #fff;
}

#post-list .card .card-body .reacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
  color: #76808c;
  /*margin: 0.5rem 0 0;*/
}

#post-list .card .card-body .reacts .react-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#post-list .card .card-body .reacts .react-left a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 1.5rem auto -5px;
  color: #4d5760;
  padding: 5px;
}

#post-list .card .card-body .reacts .react-left a:hover {
  background-color: #eef0f1;
  border-radius: 2px;
  color: #08090a;
}

#post-list .card .card-body .reacts .react-text {
  display: none;
}

#post-list .card .card-body .reacts button {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 0;
  background-color: #d2d6db;
  border-radius: 5px;
  color: #4d5760;
}

#post-list .card .card-body .reacts button:hover {
  background-color: #b5bdc4;
  cursor: pointer;
}

/***********END POST LIST***********/
/*RIGHT SIDE*/
.card-side-right {
  cursor: pointer;
}

.card-side-right li:hover {
  cursor: pointer;
  background-color: white !important;
  color: #323ebe;
}

.card-side-right > div:hover:first-of-type {
  color: #323ebe;
}

.card-side-right li h6 {
  font-size: 14px;
  color: #76808c;
  line-height: 24px;
  font-weight: normal;
}

.card-side-right .list-group-item {
  margin-bottom: 1px;
}

.card-side-right .button-new {
  color: #fff;
  background-color: #323ebe;
}

.card-side-right .badge {
  font-size: 84% !important;
}

.card-side-right .card-footer {
  background-color: #f9fafa !important;
}

.card-side-right .card-footer:hover {
  color: #323ebe;
}

.card-side-right .text-order {
  background-color: #f9fafa !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 18px;
}

.card-side-right .text-order span {
  color: #323ebe;
  font-size: 14px;
}

.card-side-right ul li {
  background-color: #f9fafa;
}

.text-profile-from {
  font-size: 20px;
}

.btn-blue {
  font-size: 16px !important;
  color: #fff;
  background-color: #3b49df;
  border-color: #3b49df;
}

.btn-blue:hover {
  background-color: #323ebe;
  border-color: #323ebe;
  color: #fff;
}

.btn-grey {
  font-size: 16px !important;
  color: #08090a;
  background-color: #d2d6db;
  border-color: #d2d6db;
}

.btn-grey:hover {
  background-color: #76808c;
  border-color: #76808c;
  color: #08090a;
}

/*END RIGHT SIDE*/
/*FOOTER*/
footer {
  padding: 30px 0;
  background-color: #d2d6db;
  position: relative;
  width: 100%;
}

footer .mono {
  position: absolute;
  right: 30px;
  top: 0;
  width: 60px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: all;
          transform: all;
  display: none;
}

@media screen and (min-width: 768px) {
  footer .mono {
    display: inherit;
  }
}

footer .mono:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

footer .footer-wrapper {
  margin: 0 auto;
  width: 92%;
}

@media screen and (min-width: 768px) {
  footer .footer-wrapper {
    width: 50%;
  }
}

footer .footer-wrapper .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-wrapper .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
  text-align: center;
}

footer .footer-wrapper .footer-menu ul li {
  padding: 12px 16px;
  cursor: pointer;
}

footer .footer-wrapper .footer-menu ul li:hover {
  color: #323ebe;
}

footer .footer-wrapper .footer-redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 20px;
  width: 24%;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  footer .footer-wrapper .footer-redes {
    width: 20%;
  }
}

footer .footer-wrapper .footer-redes img {
  padding: 0px 6px;
  cursor: pointer;
}

footer .footer-wrapper .footer-txt1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10pt;
  text-align: center;
  margin-top: 16px;
}

footer .footer-wrapper .footer-txt1 p:nth-child(2) {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */