
$color-grey: #d2d6db;
$color-grey-light: #d2d6db;
$color-grey-middle: #76808c;
$color-grey-dark: #4d5760;
$color-black: #08090a;
$color-blue: #323ebe;
$color-blue-boton-list: #3b49df;
$color-white: #f9fafa;
$color-fondo: #eef0f1;

.bg- {
  &grey {
    background-color: $color-grey;
  }
  &grey-light {
    background-color: $color-grey-light;
  }
  &grey-middle {
    background-color: $color-grey-middle;
  }
  &grey-dark {
    background-color: $color-grey-dark;
  }
  &black {
    background-color: $color-black;
  }
  &hover-blue {
    background-color: $color-blue;
  }
  &blue-boton {
    background-color: $color-blue-boton-list;
  }
  &white1 {
    background-color: $color-white !important;
  }
  &fondo {
    background-color: $color-fondo;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

header {
  position: sticky !important;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 8px;
  z-index: 1;
  @media screen and (min-width: 768px) {
    align-items: baseline;
    border-bottom: 1px solid #ccc;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0;
    /*NAV BAR LEFT SIDE*/
    .menu-left {
      display: flex;
      align-items: center;
      width: 100%;

      #navbarNav {
        position: fixed;
        background: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;

        .navbar-nav {
          background-color: white;
          height: 100%;
          width: 50vw;
          max-width: 300px;
          margin: 0;
          padding: 1rem;
          .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            padding: 16px;
            h2 {
              margin: 0;
              font-size: 14pt;
            }
            .close-button {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 35px;
              height: 35px;
              font-weight: bold;
              font-size: 22px;
              display: flex;
              border-radius: 50%;
              &:hover {
                background-color: $color-grey-light;
              }
            }
          }
          ul {
            padding: 1rem 0;
            list-style: none;
            li {
              padding: 3px 0px;
              &:last-of-type {
                padding: 8px 40px;
              }
              &:hover {
                cursor: pointer;
                background-color: $color-grey-light;
                border-radius: 4px;
                a {
                  color: $color-blue-boton-list;
                }
              }
              a {
                color: $color-grey-dark;
              }
            }
          }
        }
      }

      .logo {
        width: 50px;
        height: 40px;
        border-radius: 3px;
        cursor:pointer;
      }
      .search {
        margin-left: 10px;
        display: none;
        @media screen and (min-width: 768px) {
          display: inherit;
        }
        input {
          font-size: 12pt;
          padding: 0 6px;
          width: 100%;
          max-width: 400px;
          background-color: #f9fafa;
          color: #41484f;
        }
      }
      .navbar-toggler {
        border: none;
      }
    }
    /*NAV BAR - RIGHT SIDE*/
    .menu-right {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .button-post {
        background-color: $color-blue-boton-list;
        color: white;
        padding: 8px 20px;
        font-size: 16px;
        text-align: center;
        display: none;
        transition: 0.5s ease-in-out;
        transform: all;

        @media screen and (min-width: 768px) {
          display: inherit;
        }
        &:hover {
          background-color: $color-blue;
        }
      }
      img {
        padding: 8px;
        border-radius: 50%;
        /*margin: 0 6px;*/
        cursor: pointer;
        &.ico-search {
          display: inherit;
          @media screen and (min-width: 768px) {
            display: none;
          }
        }
        &:hover {
          background-color: $color-grey-light;
        }
      }
      .dropdown-left{
        img{
          width: 40px;
          height: 40px;
          padding: 0;
        }
      }
      #menu-wrapper{
        min-width: 15rem;
        padding: 0;
        #users-item-wrapper{
          border-bottom: 1px solid #b5bdc4;
        }
        a{
          border: 4px solid #fff;
          border-radius: 10px;
          &:hover{
            color: #3b49df;
          }      
        }
        hr{
          margin: 1px;
        }

      }
    }
  }
}

.container-fluid {
  background-color: #eef0f1;
}

.cont-wrapp {
  max-width: 1240px;
  //margin: -19px auto;
  display: flex;
}

#left-side {
  background-color: #eef0f1;
  #navbarNav2 {
    position: inherit;
    height: auto;
    background: transparent;

    .navbar-nav {
      background-color: transparent;
      margin: 0;
      padding: 1rem;
      ul {
        padding: 1rem 0;
        list-style: none;
        li {
          padding: 3px 0px;
          &:last-of-type {
            padding: 8px 40px;
          }
          &:hover {
            cursor: pointer;
            background-color: $color-grey-light;
            border-radius: 4px;
            a {
              color: $color-blue-boton-list;
            }
          }
          a {
            color: $color-grey-dark;
          }
        }
      }
    }
  }
  .side-banner {
    h2 {
      text-align: center;
      color: #3b49df;
      font-weight: bold;
      font-size: 18pt;
      padding: 12pt 0;
    }
    img{
      border-radius: 5px;
    }
  }
}

.side-banner {
  h2 {
    text-align: center;
    color: #3b49df;
    font-weight: bold;
    font-size: 18pt;
    padding: 12pt 0;
  }
  img{
    border-radius: 5px;
  }
}

#post-list {
  h1 {
    font-size: 1.14rem;
    font-weight: bold;
  }

  a:link,
  a:visited,
  a:active,
  a:focus {
    text-decoration: none;
    color: $color-black;
  }
  select {
    line-height: 1.5;
    font-size: 1rem;
    border-color: $color-grey-middle;
    color: $color-grey-middle;
    option {
      font-weight: normal;
      display: block;
      white-space: pre;
      min-height: 1.2em;
      padding: 0px 2px 1px;
    }
  }

  .filter-desktop {
    li {
      &:hover {
        background: rgba(59, 73, 223, 0.1);
        cursor: pointer;
        .nav-link {
          color: rgb(59, 73, 223);
          &:hover {
            color: $color-blue-boton-list;
          }
        }
      }

      .active {
        border-bottom: 3px solid rgb(59, 73, 223);
        padding: 0.5rem 0;
        margin: 0 0.5rem;

        transition: 0.2s ease-in-out;
        transform: all;
        &:hover {
          padding: 0.5rem 0.5rem;
          margin: 0;
        }
      }
    }
  }
  .card {
    h2 {
      font-size: 1.25rem;
      a {
        &:hover {
          color: $color-blue-boton-list;
        }
      }
    }
    .feature {
      font-size: 1.5rem;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .autor {
        display: flex;
        align-items: center;
        margin-bottom: 0.75rem;
        /*padding: 10px;}*/
        .ico-profile {
          width: 32px;
          height: 32px;
        }
        .autor-name {
          padding-left: 0.5rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          div:first-of-type {
            font-weight: bold;
            font-size: 0.875rem;
            color: $color-grey-dark;
          }
          div:last-of-type {
            font-size: 0.75rem;
            color: $color-grey-middle;
          }
          div:hover {
            color: $color-black;
          }
        }
      }
      .tags {
        margin-bottom: 0.75rem;
        font-size: 0.875rem;
        display: inline-block;
        a:link,
        a:visited,
        a:active {
          text-decoration: none;
          color: $color-grey-middle;
          line-height: 1.3;
          border-radius: 5px;
          padding: 0.5rem 0.3rem 0.5rem 0;
          span {
            color: $color-grey-light;
          }
        }
        a:hover {
          color: $color-black;
        }

        &.tags-color{
          a{
            padding: 5px 10px !important;
            margin-right: 6px;
            &:nth-child(4n+1){
              background-color: #000;
              color: #61DAF6;
              span{
                color: #61DAF6;
              }
            }
            &:nth-child(4n+2){
              background-color: #008335;
              span{
                color: #fff;
              }
              color: #fff;
            }
            &:nth-child(4n+3){
              background-color: #F7DF1E;
              color: #000;
              span{
                color: #000;
              }
            }
            &:nth-child(4n+4){
              background-color: #57d700;
              color: #fff;
              span{
                color: #fff;
              }
            }
  
          }
        }

      }
      .reacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.75rem;
        color: $color-grey-middle;
        /*margin: 0.5rem 0 0;*/
        .react-left {
          display: flex;
        }
        .react-left a {
          text-decoration: none;
          display: flex;
          align-items: center;
          margin: auto 1.5rem auto -5px;
          color: $color-grey-dark;
          padding: 5px;
          &:hover {
            background-color: $color-fondo;
            border-radius: 2px;
            color: $color-black;
          }
        }
        .react-text {
          display: none;
        }
        button {
          padding: 0.5rem;
          margin-left: 0.5rem;
          border: 0;
          background-color: $color-grey-light;
          border-radius: 5px;
          color: $color-grey-dark;
          &:hover {
            background-color: #b5bdc4;
            cursor: pointer;
          }
        }
      }

    } /*card body*/
  } /*card*/
} /***********END POST LIST***********/
/*RIGHT SIDE*/
.card-side-right {
  cursor: pointer;
  & li:hover {
    cursor: pointer;
    background-color: white !important;
    color: $color-blue;
  }
  & > div:hover:first-of-type {
    color: $color-blue;
  }
  & li h6 {
    font-size: 14px;
    color: $color-grey-middle;
    line-height: 24px;
    font-weight: normal;
  }
  .list-group-item {
    margin-bottom: 1px;
  }

  .button-new {
    color: #fff;
    background-color: $color-blue;
  }
  .badge {
    font-size: 84% !important;
  }
  .card-footer {
    background-color: $color-white !important;
    &:hover {
      color: $color-blue;
    }
  }
  .text-order {
    background-color: $color-white !important;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: baseline;
    font-size: 18px;
    span {
      color: $color-blue;
      font-size: 14px;
    }
  }
  ul li {
    background-color: $color-white;
  }
}
.text-profile-from {
  font-size: 20px;
}
.btn-blue {
  font-size: 16px !important;
  color: #fff;
  background-color: $color-blue-boton-list;
  border-color: $color-blue-boton-list;
  &:hover {
    background-color: $color-blue;
    border-color: $color-blue;
    color: #fff;
  }
}
.btn-grey {
  font-size: 16px !important;
  color: $color-black;
  background-color: $color-grey-light;
  border-color: $color-grey-light;
  &:hover {
    background-color: $color-grey-middle;
    border-color: $color-grey-middle;
    color: $color-black;
  }
}
/*END RIGHT SIDE*/

/*FOOTER*/
footer {
  padding: 30px 0;
  background-color: $color-grey;
  position: relative;
  width: 100%;
  .mono {
    position: absolute;
    right: 30px;
    top: 0;
    width: 60px;

    transition: 0.5s ease-in-out;
    transform-origin: top center;
    transform: all;

    display: none;
    @media screen and (min-width: 768px) {
      display: inherit;
    }
    &:hover {
      transform: rotate(10deg);
    }
  }
  .footer-wrapper {
    margin: 0 auto;
    width: 92%;
    @media screen and (min-width: 768px) {
      width: 50%;
    }
    // ROW 1
    .footer-menu {
      display: flex;
      justify-content: center;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
        text-align: center;
        li {
          padding: 12px 16px;
          cursor: pointer;
          &:hover {
            color: $color-blue;
          }
        }
      }
    }
    // ROW 2
    .footer-redes {
      display: flex;
      justify-content: center;
      border-bottom: 2px solid #ccc;
      padding-bottom: 20px;
      width: 24%;
      margin: auto;
      @media screen and (min-width: 1024px) {
        width: 20%;
      }
      img {
        padding: 0px 6px;
        cursor: pointer;
      }
    }

    // Row 3
    .footer-txt1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 10pt;
      text-align: center;
      margin-top: 16px;
      p:nth-child(2) {
        margin-bottom: 0;
      }
    }
  }
}